__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.egg-info/
.coverage
.coverage.*
.coverage [0-9]*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
coverage.json
coverage.xml
dist/
htmlcov/
docs/_build/
docs/api/generated/
tmp/
*.so
*.dylib
.DS_Store
